body {

    margin: 10px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.red-circle {

    margin: auto auto ;
 
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: red;
}   
.i {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: double black;
    padding: 20px;
    background-color: whitesmoke;

}